@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin startSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin centerSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "JSDongkang-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-BoldA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MalgunGothic";
  src: url(MalgunGothic.eot);
  font-weight: normal;
  font-style: normal;
}
